* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding: 0rem;
}



/*Form Component start*/

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

form.form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 1rem 1rem;
    align-self: center;
    gap: 1rem;
    align-content: center;
    flex-wrap: wrap;
}

.image-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.auth-input {
    height: 40px;
    width: 300px;
    padding-left: 5px;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: 1px solid grey;
}
.auth-input:focus {
    height: 40px;
    width: 300px;
    padding-left: 5px;
    outline: none;
    border-bottom: 2px solid black;
}

.form-header {
    font-weight: 700;
}
.input-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eyecon {
    position: relative;
    right: 1.2rem;
    font-size: 20px;
}
.eyecon:hover {
    cursor: pointer;
}
.btn {
    height: fit-content;
    min-height: 40px;
    min-width: 300px;
    max-height: fit-content;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-primary {
    background-color: #6eade3;
    color: white;
    font-weight: 500;
}
.stattext {
    color: red;
    text-align: center;
}
/*Form component end*/

nav.navbar {
    padding: 1rem;
}

.cpost-div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    resize: none;
    margin-bottom: 1rem;
}

.cpost-div textarea {
    padding: 1rem;
    resize: none;
}

.cpost-div input {
    padding: 0.5rem 1rem;
}

section.home-page {
    display: flex;
    flex-direction: column-reverse;
}

.comment-in {
    width: 100%;
    padding: 0.5rem 1rem;
}

.comment-box {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

ul.comment-list {
    display: block;
    list-style-type: none;
}

li.comment {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 100%;
    border-radius: 12px;
    display: block;
    padding: 0.5rem;
    border: 1px solid black;
    margin-top: 1rem;
}

/*Post Nav Starts*/
nav.post-navigation {
    display: flex;
    justify-content: center;
}
.flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Post Nav Ends*/
input.title {
    border: none;
    padding: 0.5rem 0.5rem;
    outline: none;
}
textarea.new-post {
    border: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
    outline: none;
}

.lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .form-img {
        height: 300px;
        width: 300px;
    }
}